/* Empty. Add your own CSS if you like */

body{
    font-family: 'Roboto', sans-serif !important;
}

h2
{
    color: red;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: bold;
}

#searchBox
{
    /*line-height: 50px;*/
    /*height: 45px;*/
    font-size: 20px;
    color: darkred;
}

label
{
    border: 2px solid black;
}

#searchIcon
{
    font-size: 40px;
    font-weight: bold;
    color: black;
}

#searchButton
{
    margin-left: 20%;
    margin-top: 10%;
    width: 60% !important;
}

.sidenames
{
    color: maroon;
}

.title
{
    color: black;
    font-weight: bold;
}

/*.link
{
    color: blue;
    text-decoration: underline;
}*/

.notavailable
{
    color: red !important;
}

.rack
{
    color: blue;
}

.bar-header
{
    height: 50px;
}

.bar-header.icon
{
    font-size: 30px;
}

.bar-header .title {
    margin-top: 5px;
    font-size: 25px !important;
    line-height: 50px !important;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}